.margin-top-10px{
    margin-top: 10px;
}
.facebook,.facebook:hover,.facebook:focus{
    background-color: #087fe8;
    color: #fff;
}
.google,.google:hover,.google:focus{
    background-color: #ff5555;
    color: #fff;
}

.margin-top-0{
    margin-top: 0;
}
hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.margin-top-5em{
    margin-top: 5em;
}