<!DOCTYPE html>
<html lang="en">
<head>
    <title>GKG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body ng-app="homeApp" ng-controller="homeCtrl">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./home.html">UMKC GKG & Maps</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./maps.html">Maps</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Hi, {{displayName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="./profile.html">Details</a></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center">Welcome to Google Knowledge Graph</h1>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="btnSearch" ng-model="search">
        <span class="input-group-addon" id="btnSearch" ng-click="find()">Search</span>
    </div>
    <div class="text-center margin-top-10px">
        <p>Google knowledge graph search supports below categories</p>
        <span class="label label-info">Books</span>
        <span class="label label-info">Book Series</span>
        <span class="label label-info">Educational Organization</span>
        <span class="label label-info">Event</span>
        <span class="label label-info">Government Organization</span>
        <span class="label label-info">Local Business</span>
        <span class="label label-info">Movie</span>
        <span class="label label-info">Movie Series</span>
        <span class="label label-info">Music Album</span>
        <span class="label label-info">Music Group</span>
        <span class="label label-info">Music Recording</span>
        <span class="label label-info">Organization</span>
        <span class="label label-info">Periodical</span>
        <span class="label label-info">Person</span>
        <span class="label label-info">Place</span>
        <span class="label label-info">Sports Team</span>
        <span class="label label-info">TV Episode</span>
        <span class="label label-info">TV Series</span>
        <span class="label label-info">Video Game</span>
        <span class="label label-info">Video Game Series</span>
        <span class="label label-info">WebSite</span>
    </div>
    <div class="text-center hidden margin-top-10px" id="errorMsg">
        <h2>No data found &#x2639;</h2>
    </div>
    <div class="row margin-top-10px hidden" id="result">
        <div class="col-sm-2 col-sm-offset-2">
            <img src="{{result.image}}" width="100%" height="200px">
        </div>
        <div class="col-sm-6">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>{{result.name}}</td>
                </tr>
                <tr>
                    <td>Url</td>
                    <td>{{result.url}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{result.description}}</td>
                </tr>
                <tr>
                    <td>Article</td>
                    <td>{{result.article}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../js/home.js"></script>
</body>
</html>
