<!DOCTYPE html>
<html lang="en">
<head>
    <title>GKG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="loginApp" ng-controller="loginCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GKG</a>
        </div>
    </div>
</nav>

<div class="col-sm-4 col-sm-offset-4">
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="login.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <div class="row">
            <div class="col-sm-6 margin-top-10px">
                <button type="button" class="btn btn-success form-control" ng-click="login()">Login</button>
            </div>
            <div class="col-sm-6 margin-top-10px">
                <a href="pages/registration.html" class="btn btn-info form-control">Register</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr/>
            </div>
        </div>
        <div class="text-center">
            <h3 class="margin-top-0">OR</h3>
        </div>
        <button type="button" class="btn btn-default form-control margin-top-10px facebook" ng-click="facebookClick()"><i
                class="fab fa-facebook-f"></i> Facebook
        </button>
        <button type="button" class="btn btn-default form-control margin-top-10px google" ng-click="googleClick()"><i
                class="fab fa-google-plus-g"></i> Google
        </button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>
