<!DOCTYPE html>
<html lang="en">
<head>
    <title>GKG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body ng-app="mapsApp" ng-controller="mapsCtrl">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./home.html">UMKC GKG & Maps</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./maps.html">Maps</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Hi, {{displayName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="./profile.html">Details</a></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center margin-top-0">Welcome to Map Search</h1>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search a place" aria-describedby="btnSearch"
               ng-model="place">
        <span class="input-group-addon" ng-click="searchPlace()">Search</span>
    </div>
    <div id="map" class="maps margin-top-10px"></div>
    <div class="row hidden" id="displayData">
        <div class="margin-top-10px col-sm-6 col-sm-offset-3">
            <table class="table">
                <tr>
                    <td>Searched Place</td>
                    <td>{{displayData.searchedPlace}}</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>{{displayData.latitude}}</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>{{displayData.longitude}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDUQsGRTNLVoYk9VQ6hcNjk6uQDEOVitc&libraries=places"></script>
<script src="../js/maps.js"></script>
</body>
</html>